@include keyframes(reveal-chart-horizontal) {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@include keyframes(reveal-chart-vertical) {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }

  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@include keyframes(reveal-cursor-horizontal) {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@include keyframes(fade-in-scale-up-vertical) {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@include keyframes(fade-in-scale-up-horizontal) {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// Naming this infographic chart instead
// of chart to avoid naming conflict.

.infographic-chart__cursor {
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1;
  opacity: 0;
  transition: all 0.25s ease-out;
  pointer-events: none;

  .infographic-chart__cursor-point {
    stroke-width: 2px;
    stroke: #425563;
    @include graph-fill-color;
  }
}

.infographic-chart--small {
  .infographic-chart__graphic {
    height: $graphic-small-size;
  }
}

.infographic-chart--large {
  .infographic-chart__graphic {
    height: $graphic-large-size;
  }
}

.infographic-chart {
	text-align: left;

  // Allow points to overflow chart bounds.
  .infographic-chart__graphic { overflow: visible; }

  &.infographic-chart--horizontal {
    &.infographic-chart--small {
      .infographic-chart__graphic {
        height:  $graphic-small-size;
        max-height: 192px;
        width: auto;
      }
    }

    &.infographic-chart--large {
      .infographic-chart__graphic {
        height: $graphic-large-size;
        max-height: 192px;
        width: auto;
      }
    }

    .infographic-chart__graphic {
      height: 192px; // find this variable.
      max-height: 192px;
      width: auto;
      min-width: 310px;
    }

    .infographic-chart__values {
     .infographic-chart__lines,
     .infographic-chart__area {
        transform-origin: bottom;
        @include animation('reveal-chart-horizontal 0.75s ease-out');
      }

      .infographic-chart__point {
        opacity: 0;
        -webkit-animation: 'fade-in-scale-up-horizontal' 0.25s 0.5s 1 both ease-out;
        animation: 'fade-in-scale-up-horizontal' 0.25s 0.5s 1 both ease-out;
      }
    }

    .infographic-chart__cursor {
      transform: translateY(10px);
    }

    &.infographic-chart--active {
      .infographic-chart__cursor {
        transform: translateY(0);
      }
    }
  }

  &.infographic-chart--vertical {
    &.infographic-chart--small.infographic-chart__graphic {
      height: auto;
      width: auto;
      max-width: $graphic-small-size;
      max-height: 350px;
    }

    &.infographic-chart--large.infographic-chart__graphic {
      height: auto;
      width: auto;
      max-width: $graphic-large-size;
      max-height: 450px;
    }

    .infographic-chart__graphic {
      height: auto;
      width: 100%;
      min-height: 192px; // resolve sizing conventions.
    }

    .infographic-chart__values {
     .infographic-chart__lines,
     .infographic-chart__area {
        transform-origin: left;
        @include animation('reveal-chart-vertical 0.75s ease-out');
      }

      .infographic-chart__point {
        -webkit-animation: 'fade-in-scale-up-vertical' 0.25s 0.5s 1 both ease-out;
        animation: 'fade-in-scale-up-vertical' 0.25s 0.5s 1 both ease-out;
      }
    }

    .infographic-chart__cursor {
      transform: translateX(-10px);
    }

    &.infographic-chart--active {
      .infographic-chart__cursor {
        transform: translateX(0);
      }
    }
  }

  .infographic-chart__values {
    transition: opacity 0.4s;
  }

  &.infographic-chart--active {
    .infographic-chart__cursor {
      opacity: 1;
    }
  }

  .infographic-chart__values-bar,
  .infographic-chart__values-line {
    @include graph-stroke-color;
  }

  .infographic-chart__values-area {
    @include graph-fill-color;

    &--active {
      cursor: pointer;
    }
  }
}

.infographic-chart__stack {
	.infographic-chart { width: 33%; }
}


.infographic-chart__hotspots {
  opacity: 0;
}

.infographic-chart__values-line {
	stroke-width: 2px;
}

.infographic-chart__values-bar {
	stroke-width: 12px;
	transition: stroke-width 0.3s;

	&.infographic-chart__values-bar--highlight {
		stroke-width: 18px;
	}
}

.infographic-chart__point {
  stroke-width: 2px;
  fill: #425563;
  @include graph-stroke-color;
  transform-origin: center;
  -webkit-animation: none;
  animation: none;
}
