// _objects.carousel.scss additions

@mixin carousel-reveal-prev($duration, $delay) {
  -webkit-animation-name: slide-from-left;
  -webkit-animation-duration: $duration;
  -webkit-animation-delay: $delay;
  animation-name: slide-from-left;
  animation-duration: $duration;
  animation-delay: $delay;
}

@mixin carousel-reveal-next($duration, $delay) {
  -webkit-animation-name: slide-from-right;
  -webkit-animation-duration: $duration;
  -webkit-animation-delay: $delay;
  animation-name: slide-from-right;
  animation-duration: $duration;
  animation-delay: $delay;
}

@keyframes slide-from-right {
  0% {
  	-webkit-transform: translateX(calc(100%)) translateY(-50%);
  	transform: translateX(calc(100%)) translateY(-50%);
  }

  100% {
  	-webkit-transform: translateX(0%) translateY(-50%);
  	transform: translateX(0%) translateY(-50%);
  }
}

@keyframes slide-from-left {
  0% {
  	-webkit-transform: translateX(-100%) translateY(-50%);
  	transform: translateX(-100%) translateY(-50%);
  }

  100% {
  	-webkit-transform: translateX(0%) translateY(-50%);
  	transform: translateX(0%) translateY(-50%);
  }
}

.grommetux-carousel {
	width: 100%;
	overflow: visible;

	.grommetux-carousel__control {
		stroke: nth($brand-accent-colors, 1);
		stroke-width: 2px;
		-webkit-filter: none;
		filter: none;
		height: 23px;
		width: 23px;
	}

	.grommetux-carousel__control--active {
    stroke: nth($brand-accent-colors, 1);
    fill: nth($brand-accent-colors, 1);
	}

	.grommetux-button__icon {
		padding: 8px;
	}

	.grommetux-control-icon--large {
		width: 40px;
		height: 40px;
	}

	.grommetux-carousel__arrow {
		background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
		z-index: 5;
		@media(max-width: 45em) { display: none; }

		.grommetux-control-icon {
	    width: 25px;
    	height: 25px;
			transition: all 0.3s;
    	-webkit-filter: none;

    	polyline {
        stroke: rgba(118, 118, 118, 1);
        transition: all 0.3s;
      }
		}

		&.grommetux-carousel__arrow--next {
			margin-right: 30px;
			@include carousel-reveal-next(0.3s, 0s);
		}

		&.grommetux-carousel__arrow--prev {
			margin-left: 30px;
			@include carousel-reveal-prev(0.3s, 0s);
		}
	}

	.grommetux-carousel__arrow--next:hover {
		transform: translateX(3px) translateY(calc(-50%));
    background: rgba(255, 255, 255, 0.2);
	}

	.grommetux-carousel__arrow--prev:hover {
		transform: translateX(-3px) translateY(calc(-50%));
	}

  .grommetux-carousel__arrow:hover {
    .button__icon polyline {
      background: rgba(255, 255, 255, 0.2);
      stroke: nth($brand-accent-colors, 1);
    }
  }

	.grommetux-carousel__track {
		transition: margin-left 0.8s;
	}

@media(min-width: 45em) {
		.grommetux-carousel__arrow .control-icon {
			width: 34px;
			height: 34px;
			padding-left: 3px;
      padding-right: 3px;
		}
	}
}
