// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

@import 'grommet/scss/hpe/hpe.defaults';
@import 'infographics.defaults';
@import 'grommet/scss/grommet-core/index';
@import 'grommet/scss/hpe/objects.button-hpe';
@import 'objects.chart';
@import 'objects.charts-label';
@import 'objects.summary';
@import 'objects.axis';
@import 'objects.carousel';
@import 'objects.meter';

// Demo specific.

.grommetux-box--full {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.tabs-container {
	width: 100%;
}

.grommetux-tabs {
  border-bottom: none;
  margin-bottom: 24px;
  color: #fff;

  .grommetux-tab__label {
  	color: rgba(255, 255, 255, 0.6);
  	padding-bottom: 2px;
  	border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  }

  .grommetux-tab--active .grommetux-tab__label,
  .grommetux-tab--active .grommetux-tab__link:hover .grommetux-tab__label {
  	color: #fff;
  	border-color: #fff;
  }

  .grommetux-tab:hover .grommetux-tab__label {
    border-color: #fff;
	}
}

.grommetux-headline {
	max-width: 980px;
	margin: 0 auto;
	padding: 30px 0;
}

.grommetux-heading {
	padding: 30px 0;
}

.grommetux-carousel {
	.carousel__item {
		// Padding for navigation arrows.
		@media(min-width: 45em) {
			padding: 0 80px;
		}
	}
}

.stacked-chart {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-flow: row wrap;

  .chart {
  	flex-grow: 1;
		text-align: center;
		padding: 0 5px;

		.chart__values-point {
			display: none;
		}
  }
}

.chart-demo-bar-multi {

	.chart-demo-bar {
		width: 100%;

		@media(min-width: 45em) {
			max-width: 210px;
		}
	}
}

.chart-demo {
	display: flex;
	flex-grow: 1;
  align-items: center;
  justify-content: center;

  .chart-demo__container {
    display: flex;
    flex-direction: column;
  }

  &.chart-demo-multi-area {
		@media(min-width: 45em) {
			width: 32%;
			flex-grow: 0;
	  }

	  .infographic-chart--active {
	    .infographic-chart__values { opacity: 0.6; }
	  }

	  .chart-demo__container {
	  	flex-direction: row-reverse;
	  	@media(min-width: 45em) { flex-direction: column; }
	  }

	  .summary__mobile-container {
	  	width: 20%;
	  	min-width: 20%;
	  }

	  .charts-label {
	  	@media(min-width: 45em) {
		  	width: 100%;
		  }
	  }
  }

  &.chart-demo-layered-area {
  	.infographic-chart { width: 100%; }
  	.axis--horizontal { align-self: flex-end; }

		// Todo: stepped opacity for same color layered
		// area charts.
  	li:first-child svg { opacity: 0.45; }
  	li:nth-child(2) svg { opacity: 0.65; }
  	li:nth-child(3) svg { opacity: 0.95; }
  }

  &.chart-demo-line {
  	.infographic-chart--vertical .infographic-chart__graphic {
  		min-height: 320px;
  	}

    .chart-demo__container {
    	flex-direction: row-reverse;

	    @media(min-width: 45em) {
	    	flex-direction: column;
	  	}
  	}
  }

  .grommetux-box {
  	flex-grow: 1;
  }

	.axis--vertical {
		padding: 0 10px 0 0;
	}

	.infographic-chart.infographic-chart--horizontal
	.infographic-chart__graphic {
    height: auto;
    width: 100%;
    min-width: 0;
  }

  .infographics-legend {
  	left: 0;

  	@media(min-width: 45em) {
	    left: 50%;
	    transform: translateX(-50%);
  	}
  }

  .infographic-chart__front g,
  .grommetux-meter__values g,
  .grommetux-meter__labels text {
  	cursor: pointer;
  }
}

.chart {
	.chart__xaxis-index--highlight text {
		fill: #fff;
	}

	.chart__cursor {
		opacity: 0;
		transition: opacity 0.3s;

		.chart__cursor-point {
			stroke-width: 2px;
			// Swap these for variables.
			stroke: #425563;
			fill: nth($brand-neutral-colors, 2);
		}
	}

	.chart__values {
		transition: opacity 0.3s;

		.chart__values-point {
			stroke-width: 2px;
			fill: nth($brand-neutral-colors, 1);
		}
	}
}

.chart--area:hover {
	.chart__cursor {
		opacity: 1;
	}

	.chart__values { opacity: 0.7; }
}

.legend {
	width: 100%;

	.legend__item {
		text-align: center;
		margin: 0 auto;
	}

	.chart__legend--after {
		display: inline;
		text-align: center;
	}

	.legend__item-value {
		color: #fff;
	}
}

.infographics-chart {
	display: flex;
	justify-content: center;

	.axis {
		.axis__label-marker {
			stroke: nth($brand-light-colors, 2);
		}

		.axis__label-text {
			fill: nth($brand-light-colors, 2);
		}

		&.axis--vertical svg {
			height: 192px;
			width: 50px;
		}
	}

	.chart {
		flex-grow: 1;
	}
}

.grommetux-legend {
	text-align: center;

	li:first-child { padding-left: 0; }
}

.grommetux-legend__item-value {
	width: auto;
  padding-left: 10px;
  opacity: 0.6;
}

.grommetux-legend__item {
	padding-left: 15px;
	display: inline-block;
	color: #fff;

	.grommetux-legend__item-label {
		min-width: auto;
		font-weight: 600;
	}
}

// Range label classes to be parsed
.axis--vertical svg {
	height: 192px;
	width: 50px;
}

.axis--horizontal svg {
	height: 192px;
	width: 50px;
}
